<!DOCTYPE html>

<html>
<head>

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <%- include('../partials/header') %>
  <p>This site was created by Carmine Grossi. It uses data from mapbox.com as well as the dark sky api.</p>
  <img src="/img/profile.jpg" alt="profile">
  <%- include('../partials/footer') %>
</body>

</html>