<!DOCTYPE html>

<html>
<head>

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <%- include('../partials/header') %>
  <img src="/img/profile.jpg" alt="profile">
  <%- include('../partials/footer') %>
</body>

</html>